.spotify-green {
	background-color: #ff0000;
}

.gradient-blue-purple {
	background: linear-gradient(90deg, #622EE5 0%, #3A1C71 100%);
}

.gradient-gray {
	background: linear-gradient(90deg, #D9D9D9 0%, #A0A0A0 100%);
}

.gradient-orange-pink {
	background: linear-gradient(90deg, #FF7E67 0%, #FF3D68 100%);
}

.gradient-cyan-blue {
	background: linear-gradient(90deg, #2AFADF 0%, #4C83FF 100%);
}

.gradient-red-orange {
	background: linear-gradient(45deg, #FF4500, #FF6347);
}

.font-heading {
	font-family: 'Montserrat', sans-serif;
}

.font-body {
	font-family: 'Open Sans', sans-serif;
}

.text-primary {
	color: #1DB954;
}

.text-secondary {
	color: #A0A0A0;
}

.text-white {
	color: #FFFFFF;
}

.text-black {
	color: #000000;
}

.bg-primary {
	background-color: #001f3f;;
}

.bg-secondary {
	background-color: #A0A0A0;
}

.bg-white {
	background-color: #FFFFFF;
}

.bg-black {
	background-color: #001f3f;
}

.border-primary {
	border-color: #00ff00;
}

.border-secondary {
	border-color: #A0A0A0;
}

.border-white {
	border-color: #FFFFFF;
}

.border-black {
	border-color: #000000;
}

.rounded-full {
	border-radius: 9999px;
}

.shadow {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.hover-scale {
	transition: transform 0.6s ease-in-out;
}

.hover-scale:hover {
	transform: scale(1.05);
}

.animate-fade-in {
	animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}