.red-button {
	background-color: #ff0000;
}

.gradient-blue-purple {
	background: linear-gradient(90deg, #622EE5 0%, #3A1C71 100%);
}

.gradient-gray {
	background: linear-gradient(90deg, #D9D9D9 0%, #A0A0A0 100%);
}

.gradient-orange-pink {
	background: linear-gradient(90deg, #FF7E67 0%, #FF3D68 100%);
}

.gradient-cyan-blue {
	background: linear-gradient(90deg, #2AFADF 0%, #4C83FF 100%);
}

.gradient-red-orange {
	background: linear-gradient(45deg, #FF4500, #FF6347);
}

.font-body {
	font-family: 'Open Sans', sans-serif;
}

.text-black {
	color: #000000;
}

.bg-black {
	background-color:#000000;
}

.border-black {
	border-color: #000000;
}

.rounded-full {
	border-radius: 9999px;
}

.hover-scale {
	transition: transform 0.6s ease-in-out;
}

.hover-scale:hover {
	transform: scale(1.05);
}

/* custom.css */
@layer base {
    .font-1 {
      font-family: area-normal, sans-serif;
      font-weight: 600;
    }
  
    .font-2 {
      font-family: afronaut, sans-serif;
      font-weight: 400;
    }
  }