/* General Styles */
body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #080808;
    color: #0cf80cfa;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    padding: 15px;
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: #0a0909;
}

h1 {
    font-size: 2.8em;
    margin: 0;
    color: rgba(0, 249, 91, 0.955);
}

h2 {
    font-size: 1.8em;
    color: #3bed3b;
}

p {
    font-size: 1.2em;
}

.portfolio-item {
    margin-bottom: 25px;
    padding: 12px;
    border-left: 3.5px solid #3bed3b;
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

a {
    color: #07fc07;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(3, 46, 238);
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
    /* Styles for screens up to 1200px wide */
    .container {
        width: 95%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 992px) {
    /* Styles for screens up to 992px wide */
    .container {
        width: 95%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.4em;
    }
}

@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    .container {
        width: 95%;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.4em;
    }
}

@media (max-width: 576px) {
    /* Styles for screens up to 576px wide (e.g., tablets) */
    .container {
        width: 98%;
    }

    h1 {
        font-size: 2.0em;
    }

    h2 {
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    /* Styles for screens up to 480px wide (e.g., smartphones) */
    .container {
        width: 100%;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.8em;
    }
}

@media (max-width: 360px) {
    /* Styles for screens up to 360px wide (e.g., smaller smartphones) */
    .container {
        width: 95%;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.8em;
    }
}

@media (min-width: 1600px) {
    /* Styles for screens larger than 1600px wide (e.g., large desktops) */
    .container {
        width: 90%;
    }

    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 2.0em;
    }
}

