
/* Original Styles */
body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #080808;
    color: #0cf80cfa;
    margin: 5% 0;
    padding: 0;
    line-height: 1.5;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #060606;
}

h1 {
    font-size: 3em;
    margin: 0;
    color: rgba(0, 249, 91, 0.955);
}

h2 {
    font-size: 2em;
    color: #3bed3b;
}

p {
    font-size: 1.2em;
}

.portfolio-item {
    margin-bottom: 30px;
    padding: 15px;
    border-left: 6px solid #3bed3b;
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

a {
    color: #07fc07;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(3, 46, 238);
}

/* Responsive Design: Media Queries */
@media (max-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .container {
        width: 95%;
        padding: 10px;
    }

    .portfolio-item {
        padding: 10px;
        margin-bottom: 20px;
    }

    header {
        padding: 30px 0;
    }
}

@media (min-width: 576px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 85%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 75%;
    }
}
