body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#globe-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Put the globe container behind other elements */
}

/* Adjust the globe size for different screen sizes */
@media screen and (max-width: 400px) {
#globe-container {
min-height: 200px;
}
}

@media screen and (min-width: 401px) and (max-width: 600px) {
#globe-container {
min-height: 300px;
}
}

@media screen and (min-width: 601px) and (max-width: 900px) {
#globe-container {
min-height: 400px;
}
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
#globe-container {
min-height: 500px;
}
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
#globe-container {
min-height: 600px;
}
}

@media screen and (min-width: 1441px) and (max-width: 1800px) {
#globe-container {
min-height: 700px;
}
}

@media screen and (min-width: 1801px) and (max-width: 2200px) {
#globe-container {
min-height: 800px;
}
}

@media screen and (min-width: 2201px) {
#globe-container {
min-height: 900px;
}
}